* { box-sizing:border-box }
    .bodyText{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .columnThirds {
        float: left;
        width: 33.33%;
        padding: 10px;
    }
    .dataColumnL {
        float: left;
        width: 75%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .dataColumnR {
        float: left;
        width: 25%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .evenColumnL {
        float: left;
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .evenColumnR {
        float: left;
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
    }    
    .headerColumnL {
        float: left;
        width: 60%;
        padding: 0px;
    }
    .headerColumnR {
        float: left;
        width: 40%;
        padding: 0px;
    }
    .bodyColumnL {
        float: left;
        width: 25%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .bodyColumnR {
        float: left;
        width: 75%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .contentRow:after {
        content: "";
        display: table;
        clear: both;
    }