* { box-sizing:border-box }
    .courseColumnL {
        float: left;
        width: 80%;
        padding: 10px;
    }
    .courseColumnR {
        float: left;
        width: 20%;
        padding: 10px;
    }
    .bodyColumnL {
        float: left;
        width: 25%;
        padding: 10px;
    }
    .bodyColumnR {
        float: left;
        width: 75%;
        padding: 10px;
    }
    .contentRow:after {
        content: "";
        display: table;
        clear: both;
    }