---
layout: page
---

<div class="post">
    <article>
        {% if site.academics %}
            {% for degree in site.academics %}
                <div class="contentRow">
                    <div class="headerColumnL">
                        {% if degree.school %}
                            <h3>{{ degree.school }}</h3>
                        {% endif %}
                    </div>

                    <div class="headerColumnR">
                            {% if degree.startDate and degree.endDate %}
                                <h5>{{degree.startDate}} to {{degree.endDate}} </h5>
                            {% endif %}
                    </div
                    <hr>
                </div>
                


            {% endfor %}
        {% endif %}
    </article>
</div>