---
layout: page
---

<div class="post">
  <article>
    {% if site.data.projects %}
      {% for project in site.data.projects %}
        <div class="bodyText">
          {% if project.project %}
            <h3> project.project </h3>
            <br>
          {% endif %}
          
          {% if project.purpose %}
            <em> project.purpose </em>
            <br>
          {% endif %}
        
          {% if project.description %}
            {% assign description = site.data.websitedata.projects[project.description] %}
            <strong>Abstract: </strong>
            {{ description.content | slice: 0, 100 }}
            <br>
          {% endif %}

          {% if project.file %}
            <a href={{ project.file }} download="pratta_{{ project.project }}.pdf"><strong>PDF Download</strong></a>
            <br>
          {% endif %}

          {% if project.link %}
            <a href={{project.link}} target="_blank"><strong>Project Link</strong></a>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>